<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cakes Fantasy - Ecommerce</title>

    <!-- LINK DE CSS -->
     <link rel="stylesheet" href="/styles/index.css">
</head>

<body>

    <!-- MENU DE NAVEGACION -->
    <nav class="nav-container"></nav>

    <!-- ARTICLE DE INFORMACION -->
    <article class="article-container"></article>

    <!-- IMAGEN DE REFERENCIA -->
    <figure class="figure-container"></figure>
</body>

</html>